:root {
  --blush-pink-50: #fef4ff;
  --blush-pink-100: #fce8ff;
  --blush-pink-200: #f8cfff;
  --blush-pink-300: #f7aafd;
  --blush-pink-400: #f377fb;
  --blush-pink-500: #e843f2;
  --blush-pink-600: #cf23d6;
  --blush-pink-700: #af1ab1;
  --blush-pink-800: #911791;
  --blush-pink-900: #761974;
  --blush-pink-950: #4f034e;
    
}
